/*Décoration*/
		body{
	background-color: #950622;
	width: 1900px;
	height: 800px;
	 }

.titre{
	width: 1900px;
	height: 85px;
	background-color: #610a0a;
	color : lightgray;
	font-size: 25px;
}
Image/Image_theme/android_jeux.png